.wrap-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1030;
    font-size: 0;
}

.button1 {
    display: block;
    float: left;
    min-width: 120px;
    height: 45px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-family: 'Noto Light';
    font-size: 17px;
    color: #fff;
    width: 130px;
}

.earth-position {
    position: relative;
    right: -120vh;
}

.head {
    background-color: #003956;
    padding-left: 11.5vh;
    width: 190.1vh;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
}

.nav1-button {
    font-size: 30px;
    color: white;
    min-width: 120px;
    height: 100px;
    padding: 0;
    width: 140px;
}

.nav1-earth {
    color: white;
    background-color: #003956;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

.nav1-earth i {
    margin-right: 5px;
}

.nav-hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: #003956;
    position: absolute;
    top: 100%;
    right: 19px;
    z-index: 1;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    padding-top: 0;
    color: white;
}

.nav-hamburger-menu a {
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    color: white;
    border-top: 1px solid black;
}

.nav-hamburger-menu a:hover {
    background-color: #004b72;
    border: black;
    color: white;
}

.nav2-flex {
    display: flex;
    justify-content: center;
}

.nav2-container {
    width: 190.1vh;
    max-width: 1080;
    height: 130px;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition: .4s;
    box-sizing: border-box;
}

.nav2-sungkyulimg {
    padding-top: 40px;
    position: relative;
    left: 120px;
    width: 400px;
    height: 400px;
}

.nav2-sungkyulimg img {
    width: 240px;
    height: auto;
}

.nav2-sungkyulimg img.blue {
    filter: brightness(0.7) hue-rotate(180deg);
}

.nav2-index {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 21px;
}

.nav2-index a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.nav2-index a::after,
.nav2-index a .underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 0;
    height: 5px;
    background-color: #2247a6;
    transition: width 0.3s;
}

.nav2-index a:hover::after,
.nav2-index a:hover .underline {
    width: 100%;
}

.nav2-index a:hover .dropdown-content {
    display: block;
}

.nav-HiddenText-index {
    position: absolute; /* 화면에 고정되도록 변경 */
    box-sizing: border-box;
    color: black;
    width: 100vw; /* 화면 전체 너비 */
    height: auto; /* 화면 전체 높이 */
    background-color: rgba(235, 242, 252, 0.97);
    text-align: left;
    display: none;
    padding: 20px; /* 내용 여백 설정 */
    left: 90px;
    top: 1px;
    display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 131px;  /*text 박스 위치 */
   left: -575px;
}

.dropdown-content a {
    color: rgb(73, 111, 238);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content ul{
    padding-bottom: 30px;
    font-size: 20px; 
}
.dropdown-content ul li {
     padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}

.col-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 130px;  /*text 박스 위치 */
   left: -570px;
}

.col-dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}


.col-dropdown-content ul {
    padding-bottom: 30px;
    font-size: 20px; 
}
.col-dropdown-content ul li {
    padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}

.enter-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 130px;  /*text 박스 위치 */
   left: -570px;
}

.enter-dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.enter-dropdown-content ul {
    padding-bottom: 30px;
    font-size: 20px; 
}
.enter-dropdown-content ul li {
    padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}

.life-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 130px;  /*text 박스 위치 */
   left: -570px;
}

.life-dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.life-dropdown-content ul {
    padding-bottom: 30px;
    font-size: 20px; 
}
.life-dropdown-content ul li {
    padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}

.ser-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 130px;  /*text 박스 위치 */
   left: -570px;
}

.ser-dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}


.ser-dropdown-content ul {
    padding-bottom: 30px;
    font-size: 20px; 
}
.ser-dropdown-content ul li {
    padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}

.place-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 130px;  /*text 박스 위치 */
   left: -570px;
}

.place-dropdown-content a {
    color: rgb(73, 111, 238);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}


.place-dropdown-content ul{
    padding-bottom: 30px;
    font-size: 20px; 
}
.place-dropdown-content ul li {
     padding-top: 10px;
     list-style-type: square;
     font-size: 15px;
}


.nav2-index {
    position: relative; /* 네비게이션 바 아래에 드롭다운 박스를 위치시키기 위해 */
}

.search-icon.blue,
.search-icon.blue i {
    color: blue !important;
}

.wrap-header a {
    color: white;
    text-decoration-line: none;
}

.wrap-header a:visited {
    color: white;
    text-decoration-line: none;
}

.wrap-header a:hover {
    text-decoration-line: none;
}

.search-icon-click {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #0095e0;
    padding: 45px 0 85px 0;
    margin-bottom: 45px;
    text-align: center;
    height: 200px;
}

.search-icon-click-bg {
    position: relative;
    display: inline-block;
    background: white;
    border-radius: 50px;
    width: 770px;
    height: 70px;
    overflow: hidden;
}

.search-icon-click-bg input {
    width: calc(100% - 40px);
    padding: 0 20px;
    border: none;
    height: 100%;
    outline: none;
    font-size: 18px;
    background: transparent;
}

.search-icon-click-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 30px;
}

.dot-grid {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(3, 10px);
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

.dot-posi {
    position: relative;
    right: 20px;
    padding-top: 30px;
}

/* 호연 */
* {
  box-sizing: border-box;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
}

body {
  word-break: keep-all;
}

.wrap_video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

video {
  height: 100%;
  width: 100%;
}

/* SECTION2 */
.section2 {
  background-image: url(./image/bg-info.jpg);
  height: 850px;
  width: 100%;
  background-size: cover;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 70px 20px;
}

.obj {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
}

/*학사*/
.obj1wrap {
  position: relative;
  padding-right: 30px;
}

.obj1wrap.first > ul:after {
  width: 92%;
}

.obj1wrap > ul::after {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  width: 90%;
  height: 50px;
  background: #003956;
}

.obj1wrap > ul {
  position: relative;
  height: 375px;
}

.tab-list {
  display: inline-block;
  margin-top: 15px;
}

.tab-list .tab-list:first-child.on .tab {
  margin-left: 0;
}

.tab-list.on .tab span {
  position: relative;
  /* top: -7px; */
  z-index: 1;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transform: translate(45%, 0);
}

.tab-list.on .tab span::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 70px;
  height: 66px;
  background: #c71514;
  transform: translate(-40%, 0) skew(-25deg);
  z-index: -1;
}

.tab-list.on .contents {
  display: block;
}

.tab-list .contents {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
}

.tab-list .contents > ul {
  list-style: none;
}

.tab-list .con-list .sub a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 7px;
  height: 2px;
  background: #a8a8a8;
  z-index: 30;
}

.tab-list .con-list.notice .sub a::after {
  top: 18px;
  width: 25px;
  height: 25px;
  background: transparent url(./image/ico-notice.png) no-repeat center center;
  padding-left: 80px;
}

.tab-list .con-list {
  position: relative;
  background: #fff;
  transition: 0.4s;
}

.tab-list .con-list:hover::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -1px;
  width: 3px;
  height: 100%;
  background: #c71513;
  position: absolute;
  transition: 0.7s;
}

.tab-list .con-list:hover strong {
  color: #c71513; /* 호버 시 글자 색상 변경 */
}

.tab-list .con-list .desc {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 21px 35px 21px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.tab-list .con-list .sub {
  display: table-cell;
  vertical-align: middle;
}

.tab-list .con-list .sub a {
  padding-left: 35px;
}

.tab-list .con-list .sub strong {
  overflow: hidden;
}

.tab-list .con-list .date {
  display: table-cell;
  width: 80px;
  vertical-align: middle;
  text-align: right;
  font-size: 16px;
  color: #656565;
}

.tab-list.on .more {
  display: block;
  z-index: 11;
}

.tab-list .more {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: #295ca4 url(./image/ico-notice-more.png) no-repeat center center;
  text-indent: -9999px;
}

.obj1wrap .tab-list .tab {
  position: relative;
  z-index: 1;
  height: 50px;
  padding: 0 19px;
  line-height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0);
  border: none;
}

/*자주찾는 서비스*/
.obj2 {
  top: 3%;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
}

.obj2 .white {
  width: 95%;
}

.obj2 .white .box .box2 .icon:hover img {
  transform: rotateY(360deg);
}

.icon img {
  transition: transform 0.5s ease; /* transform 속성에 대한 전환 효과 설정 */
}

.obj2 .white strong {
  color: black;
  font-size: 22px;
}

.obj2 .white .box {
  padding: 23px 25px 10px 25px;
  position: relative;
  background: #f3f9fe url("./image/자주찾는서비스back.png") no-repeat right
    bottom;
  border: 15px solid #cad8e3;
  align-items: center;
  justify-content: center;
}

.obj2 .white .box a {
  text-decoration: none;
  color: #000;
}

.obj2 .white .box li {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  width: 100px;
}

.obj2 .white .box ul {
  display: flex;
  list-style-type: none;
  padding-top: 30px;
  padding-left: 10px;
  text-align: center;
}

.obj2 .white .box ul div {
  width: 100%;
  margin-bottom: 12px;
}

.obj2 .control {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 0;
}

.obj2 .control .prev {
  background: url(./image/prev.png) no-repeat center center;
}

.obj2 .control .stop {
  background: url(./image/stop.png) no-repeat center center;
  margin: 0 10px;
}

.obj2 .control .next {
  background: url(./image/next.png) no-repeat center center;
}

.obj2 button {
  width: 10px;
  overflow: hidden;
  text-indent: -99999px;
  border: none;
}

.box2 .desc {
  color: #656565;
  font-size: 15px;
}

/*학사일정*/
.obj3 {
  display: flex;
}

.obj3 .wrap {
  padding-top: 55px;
  padding-right: 30px;
  padding-left: 40px;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.obj3 .sch {
  background: url(./image/bg-sch.png);
  background-size: cover;
  width: 100%;
  padding-top: 25px;
  padding-left: 30px;
}

.obj3 .sch strong {
  color: white;
  position: relative;
  font-size: 20px;
}

.obj3 .sch strong::after {
  content: "";
  position: absolute;
  left: 141%;
  top: 10px;
  width: 77px;
  height: 1px;
  background: #fff;
}

.obj3 .sch ul {
  padding-left: 2px;
  padding-top: 10px;
}

.obj3 .wrap2 {
  display: flex;
  width: 630px;
}

.obj3 .wrap2 .info {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-bottom: 20px;
}

.obj3 .wrap2 .info .date {
  width: 60px;
}

.obj3 .wrap2 .info .date span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #275fa8;
  border-radius: 100%;
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  transform: rotateY(0);
  transition: 0.65s;
}

.obj3 .wrap2 .info .date:hover span {
  transform: rotateY(360deg);
}

.obj3 .wrap2 .info .desc {
  padding-left: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 280px;
}

.obj3 .wrap2 .info .desc .full-date {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.obj3 .wrap2 .info .desc strong {
  overflow: hidden;
  display: block;
  width: 90%;
  font-size: 17px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.obj3 .sch .control {
  position: absolute;
  right: 50px;
  top: 70px;
  font-size: 0;
}

.obj3 .sch .control button {
  display: inline-block;
  text-indent: -99999px;
  border: none;
}

.obj3 .sch .control .prev {
  background: url(./image/sch_prev.png) no-repeat center center;
}

.obj3 .sch .control .next {
  background: url(./image/sch_next.png) no-repeat right center;
  width: 27px;
  position: relative;
  padding-left: 17px;
  margin-left: 15px;
  margin-right: 20px;
}

.obj3 .sch .control .next:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #7a7876;
}

.obj3 .sch .control .more {
  display: inline-block;
  background: url(./image/sch_more.png) no-repeat center center;
  width: 12px;
  height: 20px;
  top: -13px;
  position: relative;
}

/*ABOUT SKU*/
.obj4 {
  margin-top: -80px;
  height: 380px;
  overflow: hidden;
  width: 95%;
}

.obj4 .title {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  color: #000;
  line-height: 1.2;
}

.obj4 ul {
  /* border: 1px solid #d0d1d3; */
  padding-left: 0px;
}

.obj4 .slick-slide,
.obj4 .slick-slide a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
}

.thumb img {
  width: auto;
  height: 330px;
  object-fit: contain;
  display: block;
}

.obj4 .desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(26, 47, 66, 0.9);
  font-size: 16px;
  color: #fff;
}

.obj4 .desc span {
  position: relative;
}

.obj4 .desc span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}

.obj4 .control {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 0;
}

.obj4 .control .count {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.obj4 .control .count span {
  display: inline-block;
  color: #000;
  vertical-align: middle;
  font-size: 14px;
}

.obj4 .control .count .slash {
  margin: 0 5px;
}

.obj4 .control .count .total {
  color: #9299a6;
}

.obj4 .control button {
  text-indent: -9999px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.obj4 .control .prev {
  background: url(./image/ico-about-prev.png) no-repeat center center;
}

.obj4 .control .stop {
  background: url(./image/ico-about-play.png) no-repeat center center;
  margin: 0 10px;
}

.obj4 .control .next {
  background: url(./image/ico-about-next.png) no-repeat center center;
}
/* 호연 */

.footer-main {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333333; 
    color: #ffffff; 
   
}

/* footer {
    padding-top: 100vh;
} */

html {
 margin: 0px;
 padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
 }

.footer-con { 
    position: relative;
    background-color: #272b31;
    box-sizing: border-box;
    padding:0px;
    color: #ffffff;
    text-align: start;
    font-size: 16px;
    font-family: 'Noto Light';
    border-top: 1px solid #333333;
}
 

.important-links {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}

.impro-padding{
    padding-top: 10px;
}

.footer-con a {
    color: #ffffff;
    display: inline-block;
    margin-right: 26px;
    padding: 10px 40px 10px 0;
    text-decoration: none;
    margin: 0 10px;
    text-align: end;
    position: relative;
    left: 20px;
}

.footer-con a:hover {
    text-decoration: underline;
    position: relative;
    padding-top: 0px;
}

.footer-con .contact-info .address {
    color: #ffffff;
    font-family: 16px;
    font-family: 'Noto Light';
    position: relative;
    left: 30px;
}

.footer-con .contact-info .copyright {
    color: #ffffff4D;
    font-family: 'Noto Light';
    font-size: 16px;
    position: relative;
    left: 30px;
}

.footer-con hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 50px;
}

.footer-con .contact-info {
    font-size: 17px;
}

.footer-con .main-site {
    position: relative;
    top: 0px;
    text-align: end;
    height: 0px;
    right: 50px;
}

.footer-con .main-site select,
.footer-con .main-site button {
    padding: 10px;
    border: none;
    background-color: #3b3f44;
    color: #ffffff;
    font-size: 14px;
    height: 64px;
    width: 160px;
    position: relative;
    top:-43px
}

.footer-con .main-site button {
    background-color: #295CA4;
    height: 64px;
    width: 64px;

}


.footer-con .logo {
    margin-top: 20px;
    text-align: end;
    
}

.footer-con .logo img {
    max-width: 213px; 
    max-height: 51px;
    position: relative;
    bottom: 70px;
    right: 100px;

}
/* 배너 */
body {
    font-family: Arial, sans-serif;
}

.banner-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 0px;
    position: relative;
    color: #2B3543;
    margin-top: 50px;
}

.controls {
    position: absolute;
    left: 10px;
    font-size: 20px;
  }



.controls button {
    background-color: #ffffff;
    color: #333333;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px; 
}

.controls button:hover {
    background-color: #555;
}

.scroll-menu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
    scroll-behavior: smooth;
}

.scroll-menu a {
    display: inline-block;
    color: #333333;
    text-decoration: none;
    padding: 40px 22.5px;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 20px;
}

.scroll-menu a:hover {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}




    
/*소명*/

/* 해시태그 스타일 정의 */
.hash-tag-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 200px; /* 텍스트와 해시태그 사이의 간격을 더 띄움 */
  }
  .hash-tag {
    display: flex;
    gap: 10px;
  }
  .hash-tag a {
    display: inline-block;
    padding: 7px 15px; /* 내부 여백 설정 */
    background: #5481b9; /* 배경색 설정 */
    border-radius: 50px; /* 모서리 둥글게 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    font-size: 18px; /* 폰트 크기 설정 */
    color: #fff; /* 텍스트 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    position: relative;
    z-index: 1; /* z-index 설정 */
  }
  .hash-tag a p {
    margin: 0; /* p 요소의 기본 여백 제거 */
  }
  
  .title-and-tags {
    display: flex;
    align-items: center; /* 텍스트와 해시태그를 수직 중앙 정렬 */
    gap: 20px; /* 텍스트와 해시태그 사이의 간격 */
    margin-top: 10px; /* 제목과 해시태그 사이의 간격 추가 */
  }
  
  /* 폰트 스타일 적용 */
  .noto-sans-kr-Thin {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
  }
  .noto-sans-kr-Medium {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
  }
  .titillium-web-regular {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
  }
  
  /* 메인 섹션 스타일 정의 */
  .main3-container {
    box-sizing: border-box;
    position: relative; /* 상대 위치 설정 */
  }
  .main3-bg {
    background: #afc0d2 no-repeat top center; /* 배경색과 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    position: relative; /* 상대 위치 설정 */
  }
  .main3-introimg {
    position: absolute;
    top: 200px; /* 위쪽에서 200px 떨어짐 */
    left: 30px; /* 왼쪽에서 30px 떨어짐 */
  }
  .main3-indeximg {
    position: absolute;
    width: 516px;
    height: 396px;
    min-height: 395px;
    padding: 26px 25px 54px 45px;
    background: no-repeat left top;
    background-size: cover;
    top: 240px;
    left: 520px;
    color: white; /* 텍스트 색상 설정 */
  }
  .main3-index-text {
    position: absolute;
    top: 100px;
    padding: 10px 25px 54px 46px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  /* 학과 목록 스타일 정의 */
  .main3-index-major ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 레이아웃 */
    gap: 10px; /* 아이템 사이의 간격 */
  }
  .main3-index-major li {
    list-style: none; /* 기본 목록 스타일 제거 */
  }
  .main3-index-major li a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px; /* 내부 여백 설정 */
    background: #fff; /* 배경색 설정 */
    border-radius: 100px; /* 모서리 둥글게 */
    font-family: 'Noto Light';
    font-size: 15px;
    color: #222; /* 텍스트 색상 설정 */
    text-align: center;
    transition: .4s;
    text-decoration: none; /* 텍스트 밑줄 제거 */
  }
  .main3-index-major li a:hover {
    background: #f0f0f0; /* 호버 시 배경색 변경 */
  }
  
  /* 뉴스박스 스타일 정의 */
  .main3-newsbox {
    padding: 21px 30px 38px 30px;
    background: rgba(255, 255, 255, 0.6); /* 투명도 있는 배경색 */
    box-sizing: border-box;
    text-align: center;
    width: 500px;
    height: 600px;
    position: absolute;
    right: 100px;
    top: 220px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 제거 */
  }
  .main3-newsbox strong {
    font-size: 30px;
    color: #111111;
    font-weight: bold;
  }
  .main3-newsbox ul {
    list-style-type: none;
    padding: 0;
  }
  .main3-newsbox ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .main3-newsbox ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    flex-grow: 1;
    margin-right: 10px;
  }
  .main3-newsbox ul li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; /* 원형 이미지 */
  }
  .main3-newsbox ul li strong {
    font-size: 16px;
    color: #333;
  }
  .main3-newsbox ul li .date-with-img {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
  }
  .main3-newsbox ul li .date-with-img img.bullet-img {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  
  /* 캠퍼스 가이드 스타일 정의 */
  .wrap-campus {
    position: absolute;
    left: 35px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.8); /* 투명도 있는 배경색 */
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: url(https://www.sungkyul.ac.kr/sites/skukr/images/main/bg-campus.png) no-repeat;
    width: 1000px;
    height: 200px;
  }
  .wrap-campus strong {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50px;
  }
  .list-container {
    display: flex;
  }
  .wrap-campus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    left: 400px;
    top: 0px;
  }
  .wrap-campus ul li {
    margin-right: 50px;
  }
  .wrap-campus ul li:last-child {
    margin-right: 0;
  }
  .wrap-campus ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: color 0.3s;
  }
  .wrap-campus ul li a:hover {
    color: black;
  }
  .wrap-campus-icon-index {
    width: 160px;
    height: 186px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
  }
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  /* SNS 스타일 정의 */
  .wrap-sns {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .wrap-sns .tab-list {
    list-style-type: none; /* 기본 목록 스타일 제거 */
  }
  .wrap-sns .tab-list.on .youtube {
    background-position: bottom center !important;
  }
  .wrap-sns .tab-list .tab.youtube {
    background: url(/images/main/ico-sns1.png) no-repeat top center;
  }
  .wrap-sns .tab-list .tab.naver {
    background: url(/images/main/ico-sns2.png) no-repeat top center;
  }
  .wrap-sns .tab-list .tab.insta {
    background: url(/images/main/ico-sns4.png) no-repeat top center;
  }
  .wrap-sns .tab-list .tab.facebook {
    background: url(/images/main/ico-sns5.png) no-repeat top center;
  }
  .wrap-sns .tab-list .tab {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    font-family: 'Noto DemiLight';
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    text-indent: -9999px; /* 텍스트 숨김 */
    transition: .4s;
    padding-bottom: 30px;
  }
  .wrap-sns .tab-list .tab:hover {
    background-position: bottom center;
  }
  
  .main1 {
    background: url(https://www.sungkyul.ac.kr/sites/skukr/images/main/bg-sns.jpg)
      no-repeat center;
    background-size: cover;
    display: block;
    margin-top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin-bottom: ; */
  }


.youtubeWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* 간격을 줄입니다 */
    margin: 25px 0;
    padding: 0 10px;
}

.box1 {
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 400px; /* 모든 박스의 너비를 동일하게 설정합니다 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 내용물을 위쪽에 정렬합니다 */
}

.someImg {
    width: 400px;
    height: 255px; /* 이미지의 높이를 255px로 설정합니다 */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    object-fit: cover; /* 이미지의 비율을 유지하면서 크기를 조정합니다 */
}

.smbox {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% + 20px); /* 설명 박스가 이미지보다 넓어지도록 설정합니다 */
    margin-top: -5px; /* 이미지와 설명 박스 사이의 간격을 없앱니다 */
    position: relative;
    right: -10px; /* 설명 박스를 오른쪽으로 튀어나오게 만듭니다 */
}

.hsboxStyle {
    font-size: 14px; /* 폰트 크기를 조정합니다 */
    margin-top: 5px;
    color: #333;
}

.youtubeBox {
    width: 40px;
    height: 40px;
    background: url('https://www.sungkyul.ac.kr/sites/skukr/images/main/ico-youtube.png') no-repeat center center;
    background-size: contain;
    margin: 0 auto 10px;
}


  /*소명*/
